

.css-vognfw {
   padding-top: 6px;
} 


header {
   
   height: 40px;
   max-height: 40px;
   padding-top: 6px;
   z-index: 9991;

}

header>div.css-13n62e0-MuiToolbar-root{
   z-index: 9990;
   height: 40px;
   
   max-height: 40px;
   min-height: 20px;
}

 

#root > div > header > div > button{
   padding-top : 10px;
   z-index: 100000;
   margin-top: 16px;
}


main>div.css-13n62e0-MuiToolbar-root{
   z-index: 9990;
   height: 40px;
   
   max-height: 40px;
   min-height: 20px;
}



.MuiGrid-item,  .MuiGrid-grid-xs-12 .css-leo9it-MuiGrid-root {
   padding: 4px;
}